data_visualization/.env
Ethiopia/src/
db.sqlite3
__pycache__


#the following items copyed,  i don't know where they are
*.log
*.pot
*.pyc
media

# pyenv 
.python-version

# Python # 
*.py[cod] 
*$py.class 